[MASTER]
generated-members=cv2.*,pytesseract.*
extension-pkg-whitelist=cv2,numpy,mss,pytesseract

[MESSAGES CONTROL]
disable= C0301, C0103, R0903, C0302, W0603, W0718, R0912, R1702, R0801

[REPORTS]
output-format=colorized
reports=no

[BASIC]
method-rgx=[a-z_][a-zA-Z0-9_]{2,30}$
argument-rgx=[a-z_][a-zA-Z0-9_]{2,30}$

[TYPECHECK]
ignored-modules=cv2,mss,pyautogui,pytesseract

[DESIGN]
max-args=7
max-attributes=10
max-locals=20

[FORMAT]
expected-line-ending-format=LF
